@font-face {
  font-family: titillium;
  src: url('../assets/fonts/Titillium-Bold.woff2') format('woff2'), url('../assets/fonts/Titillium-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: titillium;
  src: url('../assets/fonts/Titillium-Regular.woff2') format('woff2'), url('../assets/fonts/Titillium-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: merriweather;
  src: url('../assets/fonts/Merriweather-BoldItalic.woff2') format('woff2'), url('../assets/fonts/Merriweather-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

$font-titillium: titillium;
$font-merriweather: merriweather;
